@import url(http://fonts.googleapis.com/css?family=Julius+Sans+One);
/* line 4, ../sass/style.scss */
body {
  margin: 50px;
  font-family: Comic Sans MS;
  font-size: 1.2em; }

/* line 12, ../sass/style.scss */
a {
  color: #00B7FF; }

/* line 16, ../sass/style.scss */
td, th {
  padding: 5px;
  border: 1px solid #ddd; }

/* line 22, ../sass/style.scss */
tr td:nth-child(1) {
  width: 3%; }
/* line 25, ../sass/style.scss */
tr td:nth-child(2) {
  width: 10%; }
/* line 28, ../sass/style.scss */
tr td:nth-child(3) {
  width: 8%; }
/* line 31, ../sass/style.scss */
tr td:nth-child(4) {
  width: 18%; }
/* line 34, ../sass/style.scss */
tr td:nth-child(5) {
  width: 35%; }
/* line 37, ../sass/style.scss */
tr td:nth-child(6) {
  width: 10%; }

/* line 47, ../sass/style.scss */
td label {
  padding: 0 3px;
  font-weight: 400; }
/* line 51, ../sass/style.scss */
td input {
  width: 100%; }

/* line 57, ../sass/style.scss */
.tdRadio input {
  width: 5%; }

/* line 62, ../sass/style.scss */
table {
  width: 100%; }

/* line 66, ../sass/style.scss */
section {
  margin-bottom: 20px; }

/* line 70, ../sass/style.scss */
.main-inputs {
  width: 12%;
  float: left;
  clear: both;
  margin-bottom: 10px;
  margin-right: 5px; }

/* line 78, ../sass/style.scss */
.smallBtn {
  padding: 7px 11px; }

/* line 82, ../sass/style.scss */
.errorTable {
  margin-top: 10px; }

/* line 86, ../sass/style.scss */
.noBorder {
  border: 0px; }

/* line 90, ../sass/style.scss */
.osRadio {
  float: left;
  clear: both; }
  /* line 94, ../sass/style.scss */
  .osRadio label {
    padding: 0 3px; }

/* line 27, ../sass/_downloading.scss */
.eye {
  width: 20px;
  height: 8px;
  background-color: #111;
  border-radius: 0px 0px 20px 20px;
  position: relative;
  -moz-box-shadow: 40px 0px 0px 0px #111;
  -webkit-box-shadow: 40px 0px 0px 0px #111;
  box-shadow: 40px 0px 0px 0px #111;
  top: 40px;
  left: 10px; }

/* line 34, ../sass/_downloading.scss */
.head {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50px;
  position: relative;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-animation: node 1.5s infinite alternate ease-out;
  -webkit-animation: node 1.5s infinite alternate ease-out;
  animation: node 1.5s infinite alternate ease-out;
  -moz-box-shadow: inset -4px 2px 0px 0px #111;
  -webkit-box-shadow: inset -4px 2px 0px 0px #111;
  box-shadow: inset -4px 2px 0px 0px #111;
  margin: -250px auto; }

/* line 42, ../sass/_downloading.scss */
.body {
  width: 140px;
  height: 120px;
  background-color: white;
  border-radius: 2;
  position: relative;
  -moz-animation: node2 1.5s infinite alternate ease-out;
  -webkit-animation: node2 1.5s infinite alternate ease-out;
  animation: node2 1.5s infinite alternate ease-out;
  -moz-box-shadow: inset -5px 2px 0px 0px #111;
  -webkit-box-shadow: inset -5px 2px 0px 0px #111;
  box-shadow: inset -5px 2px 0px 0px #111;
  margin: 90px auto; }

@-webkit-keyframes node {
  0% {
    top: 0px; }
  50% {
    top: 10px; }
  100% {
    top: 0px; } }
@-webkit-keyframes node2 {
  0% {
    top: -5px; }
  50% {
    top: 10px; }
  100% {
    top: -5px; } }
@-moz-keyframes node {
  0% {
    top: 0px; }
  50% {
    top: 10px; }
  100% {
    top: 0px; } }
@-moz-keyframes node2 {
  0% {
    top: -5px; }
  50% {
    top: 10px; }
  100% {
    top: -5px; } }
/* line 65, ../sass/_downloading.scss */
.circ {
  width: 180px;
  height: 180px;
  background-color: white;
  border-radius: 0px 0px 50px 50px;
  position: relative;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: -1;
  left: 0%;
  float: left;
  top: 20%;
  overflow: hidden; }

/* line 75, ../sass/_downloading.scss */
.hands {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-animation: node2 1.5s infinite alternate ease-out;
  -webkit-animation: node2 1.5s infinite alternate ease-out;
  animation: node2 1.5s infinite alternate ease-out;
  -moz-box-shadow: -1px -4px 0px 0px #111;
  -webkit-box-shadow: -1px -4px 0px 0px #111;
  box-shadow: -1px -4px 0px 0px #111;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-top: 140px;
  top: 75%;
  left: 16%;
  z-index: 1; }

/* line 87, ../sass/_downloading.scss */
.load {
  position: absolute;
  width: 100px;
  height: 20px;
  margin: -10px auto;
  -webkit-font-smoothing: antialiased;
  font-size: 30px;
  font-weight: 400;
  color: #111;
  left: 10%;
  top: 5%; }

/*# sourceMappingURL=style.css.map */
